
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EA80FC;
  color: white;
  
 
}

.heading {
 color: rgb(0, 0, 0);
 /* border: 1px solid red;  */
 margin: 0;
 padding: 8px;
}
.form-split{
  display: flex;
  justify-content:center;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  height: 92.2vh;
  background: linear-gradient(208deg, rgba(1,0,24,1) 0%, rgba(60,0,66,1) 83%);
   
 
}
.side-bar{
 
   
  flex: 1;
  height: 100%;
}
.main-form{

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  
  
}
.test{
  /* border:  1px solid red; */
  text-align: left;
  
  
}
input{
  width: 300px;
  color: white;
  background-color: transparent;
  height: 20px;
  text-decoration: none;
  border: 1.5px solid #B64FC8;
  border-radius: 10px;

}

h6{
  margin: 0;
  padding: 0;
}
.h6s{
  display: flex;
  justify-content: space-between;
  
  width: 100%;
 

}
.h6s-2{
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}
 .left
{
  padding-left: 30px;
}
.right{
  padding-right: 30px;
} 
#name-1{
  border: 1px solid red;
}

.h6-left{
  text-align: left;
}
.h6-right{
  text-align: right;
  
}
.btn{
  background-color:#b323ec ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  border: none;
  margin-top: 10px;
  border-radius: 3px;
  color:white ;
  border-radius: 3px;
  width: 200px;
  height: 30px;
}
.printBtn{
  background-color:#b323ec ;
  color: white;
  font-size: 1em;
  border: 0px;
  position: absolute;
  top: 50%;
  
  left: 70%;
  border-radius: 3px;
  width: 200px;
  height: 30px;
}
.btn:hover{
  background-color: #9b33e6;
}
.printBtn:hover{
  
  background-color: #9b33e6;
  
}
.fixed{
  text-align: center;
  
}
@media print {
  .App *
  {
    visibility: hidden;
    
    
    
  }
  .side-bar , .side-bar * {
    visibility: visible;
    padding-right: 85px;
    color: black;
    

  }
   .h6s *{
    width: 80%;
    
   
  }
  .h6s-2 *{
    width: 100%;
   
  }
  
  
  /* .h6-right-phone, .h6-right-phone *{
    
      display: inline-block; 
     
  
    padding-left: 140px;
    overflow: hidden;
    border: 1px solid red;
    text-align: justify;
    text-justify: inter-word;


  } */
}
@media(max-width:500px)
{
  .App{
    
    width: 100%;
  }
  .heading{
    font-size: 16px;
    
  }
  .form-split{
    height: 100vh;
    max-width: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   
    
  }
  .btn{
    width: 70px;
    height: 30px;
  }
  .printBtn{
    top: 99%;
    left: 43%;
    width: 70px;
    height: 30px;

  }
  input{
    max-width: 250px;
  }
  .fixed h1{
    font-size: 20px;
  }
  .fixed p{
    font-size: 14px;
  }
  .form-box label{
    font-size: 14px;
  }
}
 